.nodegraph {
	color: black;
	background-color: white;
}

.nodegraph .react-flow__panel.top.center {
  margin: 0;
  width: 100%;
  padding: 5px 10px;
  color: white;
  background: #242424;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.nodegraph .node {
  padding: 10px;
  border-radius: var(--xy-node-border-radius, var(--xy-node-border-radius-default));
  width: 120px;
  font-size: 12px;
  color: var(--xy-node-color, var(--xy-node-color-default));
  text-align: center;
  border: var(--xy-node-border, var(--xy-node-border-default));
  background-color: var(--xy-node-background-color, var(--xy-node-background-color-default));
}

.nodegraph .operator.node {
  background-color: #0975a8;
}

.nodegraph .constant.node {
  background-color: #b05817;
}

.nodegraph .accessor.node {
  background-color: #464646;
}

.nodegraph .constant.node input,
.nodegraph .accessor.node input {
  color: white;
  background-color: #202020;
  width: 100%;
  box-sizing: border-box;
  border-radius: 2px;
}

.nodegraph .output.node {
  border: 2px solid #00e7ff;
}
