.nodegraph {
	color: black;
	background-color: white;
}

.nodegraph .react-flow__panel.top.center {
  margin: 0;
  width: 100%;
  padding: 5px 10px;
  color: white;
  background: #242424;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.nodegraph .node {
  position: relative;
  padding: 10px;
  border-radius: var(--xy-node-border-radius, var(--xy-node-border-radius-default));
  width: 120px;
  font-size: 12px;
  color: var(--xy-node-color, var(--xy-node-color-default));
  text-align: center;
  border: var(--xy-node-border, var(--xy-node-border-default));
  background-color: var(--xy-node-background-color, var(--xy-node-background-color-default));
}

.nodegraph .operator.node {
  background-color: #0975a8;
}

.nodegraph .constant.node {
  background-color: #b05817;
}

.nodegraph .accessor.node {
  background-color: #464646;
}

.nodegraph .constant.node input,
.nodegraph .accessor.node input {
  color: white;
  background-color: #202020;
  width: 100%;
  box-sizing: border-box;
  border-radius: 2px;
}

.nodegraph .output.node {
  border: 2px solid #00e7ff;
}

.node-admonition {
  --size: 1.5em;
  --margin: 0.5em;

  position: absolute;
  background-color: red;
  border: 1px solid #480000;
  cursor: pointer;

  border-radius: 50%;
  width: var(--size);
  height: var(--size);
  line-height: var(--size);
  right: calc(-1 * calc(var(--margin) + var(--size)));
  margin-top: calc(var(--size) / -2);
  top: 50%;
}

.node-admonition:hover {
  background-color: #ff4444;
}

.node-admonition .symbol {
  font-weight: bold;
  font-size: 1.3em;
}

.node-admonition .message {
  background-color: white;
  color: black;
  font-family: monospace;
  padding: 0.2em 0.5em;
  text-align: left;
  width: max-content;

  position: absolute;
  left: calc(calc(var(--margin) + var(--size)) + 0.6em);
  top: 50%;
  transform: translate(0, -50%);
}

.node-admonition .message:before {
  content: '';
  background-color: white;
  width: 1em;
  height: 1em;
  rotate: 45deg;
  display: block;
  position: absolute;
  top: calc(50% - 0.5em);
  left: -0.5em;
  border-radius: 0 100% 0 0;
}
